h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
}
/* 讓超鏈結未點選過時有預設顏色(綠色) 、點選過會改變顏色(紅色)、 滑鼠移動到超鏈結文字上面時變色(黃色)、 滑鼠按下超鏈結文字時變色(藍色)*/
a:link {
    color: rgb(58, 151, 58);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(219, 38, 38);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(237, 204, 19);
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: rgb(17, 39, 205);
    background-color: transparent;
    text-decoration: underline;
}
/* 蝚?4???8憿?} */
.style1{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}
.style2{
    border-radius:30px;
    max-width: 100%;
    height: auto;
}
.style3{
    border-radius: 50px;
    max-width: 100%;
    height: auto;
}
.style4{
    border-radius: 90px;
    max-width: 100%;
    height: auto;
}
img:hover{
    opacity: 0.5;
}
/* 蝚?3憿?} */
.class1{
    background-color: rgba(6, 113, 58, 0.559);
    font-family: 'Courier New', Courier, monospace;
}
.class2{
    background-color: rgb(0, 255, 68);
    font-family: 'Courier New', Courier, monospace;
}
.class3{
    background-color: rgba(0, 255, 132, 0.559);
    font-family: 'Courier New', Courier, monospace;
}
.class4{
    background-color: rgba(182, 250, 217, 0.559);
}
/* 蝚?5憿?*/
hr {background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); height: 5px;"}
br {
    height: 1px; /* 閮剖?? <br> ???蝝?擃?摨? */
}